// Color scheme
// $primary: #e70038;
$primary: #222983;
// $bg-primary-font-color: #000000;
$bg-primary-font-color: #ffffff;
$grey: #444444;
$dark: #000000;
$font-color: #ffffff;
$link-color: $font-color;
// screen sizes
$tablet: 480px;
$large: 768px;
$desktop: 1200px;

// padding sizes