@import 'variables';

// font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// General
body, html {
    padding: 0;
    margin: 0;
    background-color: $dark;
    color: $font-color;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

hr {
    color: $font-color;
}

a {
    text-decoration: underline;
    &, &:visited {
        color: $link-color;
    }
}

.spacer {
    &-1 {
        margin-top: 1rem;
    }
    &-2 {
        margin-top: 2rem;
    }
}